@import './base.css';


.container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.goa-container {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}

.goa-container-no-radius {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out;
}

.goa-input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: orange;
}

.goa-button {
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 5px 30px;
  /* height: 40px; */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.goa-button:hover {
  background-color: gold;
  color: black;
}

@media (max-width: 768){
  .container {
    max-width: 95%;
  }
}
