@import './base.css';
:root {
  /* theme*/
  --goa-red: rgb(255, 65, 65);
  --goa-red-transparent: rgba(255, 65, 65, 0.2);
  --goa-gray: rgb(179, 179, 179);

  /* font */


  /* background */


  /* border */


  /* shadow */


  /* text */
  --goa-text-red: rgb(255, 115, 115);
  --goa-text-gray: rgb(179, 179, 179);
  --goa-text-black: rgb(48, 48, 48);
  --goa-text-success: rgb(103, 255, 103);
  --goa-text-warning: rgb(255, 255, 103);
  --goa-text-danger: rgb(93, 29, 29);

  --primary-color: #ff0000;
  --secondary-color: #333333;
  --accent-color: #ffd700;
  --background-color: #000000;
  --background-color-alpha: #000000e6;
  --text-color: #ffffff;
  --header-color: #ffffff;
  --input-text-color: #ffffff;
  --button-text-color: #ffffff;
  --button-hover-text-color: #ffffff;

}

.text-primary {
  color: var(--primary-color)!important;
}

.text-secondary {
  color: var(--secondary-color)!important;
}

.text-accent {
  color: var(--accent-color)!important;
}

.text-button {
  color: var(--button-text-color)!important;
}

.text-header {
  color: var(--header-color)!important;
}

.upper {
  text-transform: uppercase!important;
}

.text-default {
  color: var(--text-color)!important;
}

.background-primary {
  background-color: var(--primary-color)!important;
}

.background-secondary {
  background-color: var(--secondary-color)!important;
}

.background-accent {
  background-color: var(--accent-color)!important;
}

.background-default {
  background-color: var(--background-color)!important;
}

.background-default-alpha {
  background-color: var(--background-color-alpha)!important;
}

.border-primary {
  border: 2px solid var(--primary-color)!important;
}

.border-secondary {
  border: 2px solid var(--secondary-color)!important;
}

.border-accent {
  border: 2px solid var(--accent-color)!important;
}

.border-default {
  border: 2px solid var(--background-color)!important;
}

.border-default-alpha {
  border: 2px solid var(--background-color-alpha)!important;
}

.border-black {
  border: 2px solid black!important;
}

.has-events {
  border: 2px solid var(--accent-color)!important;
}


h1,
h2,
h3,
h4 {
  color: var(--header-color)!important;
  
}

.footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100%;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer > * {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 98%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* transform: translateX(13px); */
}

.guild-logo-upload {
  /* aspect-ratio: 1/1; */
  /* max-height: 500px; */
  width: 100%;
  background-size: contain;
  pointer-events: none;
  /* opacity: 75%; */
}

/* .guild-logo-upload:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(89deg, 
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6) 7%, 
      rgba(255, 255, 255, 0.07) 14%, 
      rgba(255, 255, 255, 0.07) 21%,
      rgba(0, 0, 0, 0.6) 28%);
  background-size: contain;
} */

/* Maybe add a frame option on image upload? Then add another
   class to show the frame, if selected */
.logo-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
  background-position: center;
  pointer-events: none;
  /* box-shadow: 0 0 20px 5px black; */
}

.bordered-logo-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* max-height: fit-content; */
  /* outline: 2px solid black; */
  outline-offset: -1px;
  overflow: hidden;
  /* box-shadow: 0 0 20px 5px black; */
  pointer-events: none;
}

.bordered-logo-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: o;
  height: 100%;
  width: 100%;
  z-index: 10000;
  /* border-radius: 30px; */
  background-color: transparent;
  /* box-shadow: inset 0 0 100px 20px black; */
}

.show-border {
  box-shadow: 0 0 20px 5px black;
}

.show-border-img {
  box-shadow: inset 0 0 500px 500px red;
}

/* .logo-container {
  max-height: 500px;
  width: fit-content;
} */

.goa-container {
  background-color: var(--background-color-alpha);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
  padding: 20px;
  /* background-image: url('../../public/Images/old_paper.jpg'); */
}


.map-container {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  background-image: url('../public/Images/old_paper.jpg');
  /* background-size: cover; */
  /* background-position: right bottom; */
  background-repeat: no-repeat;
}

.map-container-no-radius {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out;
  background-image: url('../public/Images/old_paper.jpg');
  /* background-size: cover; */
  /* background-position: right bottom; */
  background-repeat: no-repeat;
}

.text-orange {
  color: orange!important;
}

.map-top-left{
  background-position: top left;
}

.map-top-right{
  background-position: top right;
}

.map-top-center{
  background-position: top center;
}

.map-bottom-left{
  background-position: bottom left;
}

.map-bottom-right{
  background-position: bottom right;
}

.map-bottom-center{
  background-position: bottom center;
}

.map-center{
  background-position: center center;
}

.map-center-left{
  background-position: center  left;
}

.map-center-right{
  background-position: center right;
}

.goa-container-no-radius {
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out;
  background-color: var(--background-color-alpha);
  transition: background-color 0.3s ease-in-out;
  padding: 20px;
}

.goa-input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: white;
}

.goa-input::placeholder {
  color: var(--goa-red);
}

.goa-button {
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 5px 30px;
  word-wrap: nowrap;
  /* height: 40px; */
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.goa-button-no-radius {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 5px 30px;
  word-wrap: nowrap;
  /* height: 40px; */
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}


.goa-button:hover {
  background-color: var(--secondary-color);
  color: var(--button-hover-text-color);
}

.goa-delete-button {
  height: fit-content;
  padding-block: 0;
  background-color: var(--goa-gray);
  color: black;
}

.goa-delete-button:hover {
  background-color: red;
  color: white;
}

.goa-edit-button {
  height: fit-content;
  padding-block: 0;
  background-color: black;
  color: var(--goa-gray);
}

.goa-edit-button:hover {
  background-color: var(--goa-gray);
  color: white;
}

.text-goa-red {
  color: var(--primary-color);
}

.text-black {
  font-size: 20px;
  font-weight: 500;
  color: rgb(48, 48, 48)!important;
}

.padding-small {
  padding-block: 20px!important;
  padding-inline: 50px!important;
}

.cell {
  border: 1px solid var(--primary-color);
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.cell:hover {
  background-color: var(--secondary-color)!important;
  color: var(--button-hover-text-color);
}

.cell:focus,
.cell:active {
  background-color: var(--secondary-color)!important;
  color: var(--button-hover-text-color);
}

progress {
  width: 100%;
  height : 25px;
  border: 2px solid var(--primary-color);
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: rgba(0, 255, 0, .5);
}

.mission-accomplished {
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  height: 35%;
  max-height: 15%;
  background-image: url('../public/Images/mission_accomplished.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;

}

.extend {
  height: 100%;
  min-height: 100vh!important;
}

.edge-shadow {
  box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1), 0px 0px 10px 5px rgba(0, 0, 0, 1);
}


/* Thread body */
.thread-body-container{
  /* overflow: hidden; */
  height: fit-content;
  max-height: 0px;
  padding: 0px;
  opacity: 0;
  transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out, opacity 0.6s 0.2s ease-in-out;
}

.comments-container{
  height: fit-content;
  max-height: 0px;
  padding: 0px;
  opacity: 0;
}

.hide {
  max-height: 0;
  padding: 0!important;
  transition: height 0.5s ease-in-out;
}

.thread {
  border-radius: 30px;
  border: 2px solid rgb(62, 62, 62);
  overflow: hidden;
  background-color: var(--background-color-alpha);
}

.thread-header {
  /* border-radius: 30px; */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.thread-header:hover {
  background-color: black;
}

.show {
  padding: 20px;
  max-height: 30000px;
  opacity: 100%;
}

.showComment {
  padding: 20px;
  max-height: fit-content;
  opacity: 100%;
}

.tool-tip {
  position: relative;
  width: fit-content;
  font-weight: bolder;
}
.tool-tip::after {
  content: attr(data);
  position: absolute;
  top: -35px;
  left: 50%;
  font-weight: 700;
  font-size: 20px;
  transform: translateX(-50%);
  padding: 5px 20px;
  /* background: rgba(255, 165, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); */
  font-size: 12px;
  border-radius: 5px;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
  pointer-events: none;
}

.tool-tip:hover .tool-tip::after {
  opacity: 100%;
  background: var(--primary-color);
  /* color: rgba(0, 0, 0, 0.1); */
  font-size: 16px;
  color: var(--button-text-color);
  font-weight: 700;
}

.tool-tip-2 {
  position: relative;
}
.tool-tip-2::after {
  content: attr(data);
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  /* background: rgba(255, 165, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); */
  font-size: 12px;
  border-radius: 5px;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
  pointer-events: none;
}

.tool-tip-2:hover .tool-tip-2::after {
  opacity: 100%;
  background: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
}

.unread {
  border: 3px solid var(--accent-color)!important;
}

@media (max-height: 800px) {
  .show {
    max-height: fit-content;
  }
}

/* [data-size] {
  max-height: calc(attr(data-size) * 200px)
} */

.uk-panel-scrollable {
  height: 100000px;
}

@media (max-width: 768){
  .container {
    max-width: 100%;
  }
}

/* Editor */

/* .ProseMirror {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 20px;
  padding: 10px;
  color: white;
}*/

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4 {
  color: var(--header-color);
  margin-bottom: 0;
} 

.ProseMirror h1 {
  font-size: 100px;
}
@media (max-width: 1500px) {
  .ProseMirror h1 {
    font-size: 75px;
  }
}
@media (max-width: 1200px) {
  .ProseMirror h1 {
    font-size: 50px;
  }
}
@media (max-width: 1000px) {
  .ProseMirror h1 {
    font-size: 33px;
  }
}


.tippy-content {
  background-color: transparent;
  padding: 5px 7px;
  border-radius: 10px;
  transform: translateY(100px); 
}
.tippy-content > div {
  
  display: flex;
  align-content: center;
  justify-content: center;
}
.tippy-content button,
.tippy-content input {
  background-color: var(--background-color-alpha);
  padding: 3px 5px;
  border-radius: 10px;
  color: var(--text-color);
}
.tippy-content input {
  width: fit-content;
}

/* #tippy-1 {
  left: 0px!important;
  top: 150px!important;
} */

.tippy-content input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
  padding: none!important;
  border-radius: 50%;
  -webkit-appearance: none;
  width: 0px;
}
.tippy-content input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 50%;
  aspect-ratio: 1;
}
.tippy-content button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hideBorder {
  border: none!important;
}

.uk-icon-button {
  background-color: var(--primary-color)!important;
  color: var(--button-text-color)!important;
  border: 2px outset var(--primary-color)!important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.uk-icon-button:hover {
  background-color: var(--secondary-color)!important;
}

.uk-icon-delete,
.uk-icon-edit {
  background-color: #000000!important;
  border-color: var(--primary-color)!important;
  color: var(--primary-color)!important;
}

.uk-icon-delete:hover {
  border-color: red!important;
  color: red!important;
  background-color: #292929!important;
}

.uk-icon-edit:hover {
  border-color: orange!important;
  color: orange!important;
  background-color: #292929!important;
}

.guild-play{
  border: 1px solid white;
  color: white;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  background-color: rgba(255, 115, 0, 1);  
}

.guild-play:hover {
  background-color: rgba(255, 146, 57, 1);
  border-radius: 50%;
}

.meeting {
  border: 1px solid white;
  color: black;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  background-color: rgba(255, 238, 0, 1);
}

.meeting:hover {
  background-color: rgba(255, 246, 126, 1);
  border-radius: 50%;
}

.deadline {
  border: 1px solid red;
  color: red;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 1);
}

.deadline:hover {
  background-color: rgb(59, 59, 59);
  border-radius: 50%;
}

.startDate {
  border: 1px solid white;
  color: white;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  background-color: rgba(98, 146, 31, 1);
}

.startDate:hover {
  background-color: rgba(149, 255, 0, 0.5);
  border-radius: 50%;
}

.icon-container {
  transition: border-radius 0.3s ease;
}

.icon-container:hover > *  {
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 50%;
}

.day-container {
  max-height: fit-content;
}

.canceled {
  position: absolute;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  /* padding: 5px; */
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.canceled-icon {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.canceled:hover {
  background-color: rgba(255, 255, 255, 0.4);
  /* color: white; */
}

.no-radius {
  border-radius: 0px!important;
}

.warning-container {
  background-color: rgb(255, 255, 153);
  border: 2px solid orangered;
  color: orangered;
  font-weight: 700;
  padding: 5px 10px;
}