@import './base.css';
:root {
  /* theme*/
  --goa-red: rgb(255, 65, 65);
  --goa-red-transparent: rgba(255, 65, 65, 0.2);
  --goa-gray: rgb(179, 179, 179);

  /* font */


  /* background */


  /* border */


  /* shadow */


  /* text */
  --goa-text-red: rgb(255, 115, 115);
  --goa-text-gray: rgb(179, 179, 179);
  --goa-text-black: rgb(48, 48, 48);
  --goa-text-success: rgb(103, 255, 103);
  --goa-text-warning: rgb(255, 255, 103);
  --goa-text-danger: rgb(93, 29, 29);

}

.footer {
  position: sticky;
  top: 100%;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer > * {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* transform: translateX(13px); */
}

.guild-logo-upload {
  /* aspect-ratio: 1/1; */
  max-height: 500px;
  width: auto;
  background-size: contain;
  pointer-events: none;
}

/* Maybe add a frame option on image upload? Then add another
   class to show the frame, if selected */
.logo-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-height: fit-content;
  border-radius: 50px;
  overflow: hidden;
  background-position: center;
  pointer-events: none;
  /* box-shadow: 0 0 20px 5px black; */
}

.bordered-logo-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-height: fit-content;
  border-radius: 50px;
  outline: 2px solid black;
  outline-offset: -1px;
  overflow: hidden;
  box-shadow: 0 0 20px 5px black;
  pointer-events: none;
}

.bordered-logo-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: o;
  height: 100%;
  width: 100%;
  z-index: 10000;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: inset 0 0 100px 20px black;
}

.show-border {
  box-shadow: 0 0 20px 5px black;
}

.show-border-img {
  box-shadow: inset 0 0 500px 500px red;
}

/* .logo-container {
  max-height: 500px;
  width: fit-content;
} */

.goa-container {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
  /* background-image: url('../../public/Images/old_paper.jpg'); */
}

.map-container {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  background-image: url('../public/Images/old_paper.jpg');
  /* background-size: cover; */
  /* background-position: right bottom; */
  background-repeat: no-repeat;
}

.map-container-no-radius {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out;
  background-image: url('../public/Images/old_paper.jpg');
  /* background-size: cover; */
  /* background-position: right bottom; */
  background-repeat: no-repeat;
}

.text-orange {
  color: orange!important;
}

.map-top-left{
  background-position: top left;
}

.map-top-right{
  background-position: top right;
}

.map-top-center{
  background-position: top center;
}

.map-bottom-left{
  background-position: bottom left;
}

.map-bottom-right{
  background-position: bottom right;
}

.map-bottom-center{
  background-position: bottom center;
}

.map-center{
  background-position: center center;
}

.map-center-left{
  background-position: center  left;
}

.map-center-right{
  background-position: center right;
}

.goa-container-no-radius {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out;
}

.goa-input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  color: white;
}

.goa-input::placeholder {
  color: var(--goa-red);
}

.goa-button {
  border-radius: 20px;
  background-color: var(--goa-red);
  color: white;
  padding: 5px 30px;
  word-wrap: nowrap;
  /* height: 40px; */
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}


.goa-button:hover {
  background-color: var(--goa-red-transparent);
  /* color: black; */
}

.goa-delete-button {
  height: fit-content;
  padding-block: 0;
  background-color: var(--goa-gray);
  color: black;
}

.goa-delete-button:hover {
  background-color: red;
  color: white;
}

.goa-edit-button {
  height: fit-content;
  padding-block: 0;
  background-color: black;
  color: var(--goa-gray);
}

.goa-edit-button:hover {
  background-color: var(--goa-gray);
  color: white;
}

.text-goa-red {
  color: rgb(255, 65, 65)!important;
}

.text-black {
  font-size: 20px;
  font-weight: 500;
  color: rgb(48, 48, 48)!important;
}

.padding-small {
  padding-block: 20px!important;
  padding-inline: 50px!important;
}

.cell {
  border: 1px solid rgba(255, 255, 255, .2);
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.cell:hover {
  background-color: var(--goa-red)!important;
  color: var(--goa-gray);
}

progress {
  width: 100%;
  height : 25px;
  border: 2px solid black;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: rgba(0, 255, 0, .5);
}

.mission-accomplished {
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  height: 35%;
  max-height: 15%;
  background-image: url('../../public/Images/mission_accomplished.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;

}

.extend {
  height: 100%;
  min-height: 100vh!important;
}

.edge-shadow {
  box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1), 0px 0px 10px 5px rgba(0, 0, 0, 1);
}


/* Thread body */
.thread-body-container{
  /* overflow: hidden; */
  height: fit-content;
  max-height: 0px;
  padding: 0px;
  opacity: 0;
  transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out, opacity 0.6s 0.2s ease-in-out;
}

.comments-container{
  height: fit-content;
  max-height: 0px;
  padding: 0px;
  opacity: 0;
}

.hide {
  max-height: 0;
  padding: 0!important;
  transition: height 0.5s ease-in-out;
}

.thread {
  border-radius: 30px;
  border: 2px solid rgb(62, 62, 62);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.thread-header {
  /* border-radius: 30px; */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.thread-header:hover {
  background-color: black;
}

.show {
  padding: 20px;
  max-height: 30000px;
  opacity: 100%;
}

.showComment {
  padding: 20px;
  max-height: fit-content;
  opacity: 100%;
}

.tool-tip {
  position: relative;
  width: fit-content;
  font-weight: bolder;
}
.tool-tip::after {
  content: attr(data);
  position: absolute;
  top: -35px;
  left: 50%;
  font-weight: 700;
  font-size: 20px;
  transform: translateX(-50%);
  padding: 5px 20px;
  /* background: rgba(255, 165, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); */
  font-size: 12px;
  border-radius: 5px;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
  pointer-events: none;
}

.tool-tip:hover .tool-tip::after {
  opacity: 100%;
  background: var(--goa-red);
  /* color: rgba(0, 0, 0, 0.1); */
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.tool-tip-2 {
  position: relative;
}
.tool-tip-2::after {
  content: attr(data);
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  /* background: rgba(255, 165, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); */
  font-size: 12px;
  border-radius: 5px;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
  pointer-events: none;
}

.tool-tip-2:hover .tool-tip-2::after {
  opacity: 100%;
  background: rgba(255, 165, 0, 1);
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.unread {
  border: 3px solid gold!important;
}

@media (max-height: 800px) {
  .show {
    max-height: fit-content;
  }
}

/* [data-size] {
  max-height: calc(attr(data-size) * 200px)
} */

.uk-panel-scrollable {
  height: 100000px;
}

@media (max-width: 768){
  .container {
    max-width: 95%;
  }
}
